* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 300px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  background: linear-gradient(
    red,
    yellow,
    blue,
    red,
    yellow,
    blue,
    red,
    yellow,
    blue,
    red,
    yellow,
    blue
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
